h1.compare__heading {
	margin-bottom: 10px;
	font-weight: 500;
	font-family: "PoppinsExtraBold" !important;
	text-align: center;
	font-size: 45px;
}

h2.compare__subheading {
	font-weight: 500;
	color: #368777;
	font-family: "PoppinsExtraBold" !important;
	text-align: center;
	font-size: 30px;
}

.compare__grid_header {
	background-color: #368777;
	height: 70px;
	color: black;
	text-align: center;
	width: 90%;
	max-width: 1210px;
	margin: 40px auto 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 0 7%;
}

.compare_grid {
	width: 90%;
	margin: 0px auto 40px;
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 4fr;
	grid-template-rows: 70px 70px 70px 70px;
	text-align: center;
	align-items: center;
	max-width: 1210px;
}

.compare_grid_row {
}

.compare_grid_col {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grey {
	background-color: lightgrey;
}

.white_span {
	display: inline;
	color: white;
	font-family: "PoppinsExtraBold" !important;
}

@media (max-width: 890px) {
	.compare_grid {
		width: 100%;
	}

	.compare__grid_header {
		width: 100%;
		height: 120px;
		padding: 15px;
		gap: 10px;
		justify-content: center;
	}

	h1.compare__heading {
		margin-bottom: 10px;
		font-weight: 500;
		font-family: "PoppinsExtraBold" !important;
		font-size: 30px;
	}

	.white_span {
		display: flex;
		width: 40px;
		align-items: center;
		justify-content: center;
	}

	.padding-l-5 {
		padding-left: 5px;
	}
	.padding-r-5 {
		padding-right: 5px;
	}

	.compare_grid_col {
		height: 80px;
	}

	.compare_grid {
		grid-template-rows: 80px 80px 80px 80px;
	}
}
