.home__bg {
  background-image: url(img/hero-bg.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* img.bg__absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  object-fit: cover;
  object-position: center;
  width: 100%;
} */
li.nav__items {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 5px;
  color: #fff;
}
.collapsed {
  margin-bottom: -5px;
  padding-bottom: 0px !important;
}
.collapsed-toggle {
  margin-top: 4px !important;
}
ul.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}
.home__content {
  padding: 65px 0px 125px;
  /* width: 60%;
  max-width: 500px;
  display: flex;
  height: 100%;
  justify-content: center;
  gap: 30px; */
}
.home__meta {
  padding: 10px;
  width: fit-content;
  max-width: 900px;
  display: flex;
  height: 100%;
  margin-left: 2%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1.home__text {
  font-size: min(3.5vw, 42px);
  font-weight: 900;
  letter-spacing: 3px;
  color: #fff;
  line-height: 150%;
  /* color: #006A56; */
  margin-bottom: -15px;
  text-align: center;
  /* font-family: Poppins, sans-serif; */
  /* font-family: "ProtestRegular"; */
  text-shadow: 2px 1px #000;
}
h2.home__text {
  font-size: 18px;
  text-align: center;
  line-height: 120%;
  font-weight: 400;
  letter-spacing: 0px;
  font-family: Poppins, sans-serif;
  color: #fff;
  margin-top: -10px;
  text-shadow: 2px 1px #000;
}
h1.home__text.bright {
  color: #006a56;
  font-weight: 500;
  text-shadow: 2px 1px #000;
}
h3.home__text {
  font-size: 50px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  line-height: 40px;
}
h4.home__text {
  font-size: 50px;
  font-weight: 800;
  line-height: 40px;
  font-family: Montserrat, sans-serif;
}
.header {
  transition: 0.4s all ease;
  background: linear-gradient(
    to right,
    #030303b4,
    #00000019 60%,
    #08080816 40%,
    #ffffff00
  );
}
.pale {
  color: #fff !important;
  font-size: min(3vw, 26px) !important;
  margin-top: 10px;
  font-weight: 400 !important;
}
.header.active {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 20px 30px 0;
  background-color: #191919bc;
}
.toggle__menu {
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  width: 50px;
  margin-top: -4px;
}
.sideNavbar {
  z-index: 100;
}
ul.sidebar.d__flex {
  flex-wrap: wrap;
  height: 100%;
  position: fixed;
  right: 0%;
  background: #010101ec;
  justify-content: center;
  width: 350px;
  top: 0%;
  flex-direction: column;
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

li.sideNavbar {
  padding: 25px 30px;
}
li.sideNavbar a {
  font-size: 20px;
  font-weight: 500;
}
.highlight {
  background-color: rgba(49, 147, 36, 0.482);
  padding: 0 15px;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .navigation {
    display: none;
  }
  h2 {
    font-size: 16px !important;
    text-shadow: 1px 1px #00000083;
    font-weight: 400;
  }
  svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
  }
  h1.home__text {
    font-size: 34px;
  }
  h1.home__text.pale {
    font-size: 27px !important;
    margin-top: 25px;
  }
  .home__bg {
    background-position: 60%;
  }
}
@media only screen and (max-width: 425px) {
  h2.home__text.pz__10 {
    font-size: 32px;
  }
  h3.sweet.pz__10 {
    font-size: 40px;
  }

  h4.home__text {
    font-size: 45px;
  }
}
.header.active .navigation ul li.nav__items {
  color: #fff;
  font-weight: 400;
}
.logo img {
  max-width: 220px;
  margin-top: -20px;
  margin-left: 20px;
}
.logo {
  cursor: pointer;
}
