.services_content {
	width: 100%;
	margin: 0 auto;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	padding: 15px 25px;
	background-color: black;
}

h1.heading {
	font-size: 60px;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
}

p.heading.p__color {
	margin-bottom: 0;
	text-align: center;
	line-height: 1.2;
	display: block;
	width: 80%;
	margin: auto;
}

.services-intro {
	padding: 0;
	text-align: left;
	margin-bottom: 10px;
	color: white;
	font-weight: 500;
	font-family: "Condensed" !important;
	font-size: 55px;
}

a.link-YT {
	display: inline-block;
	border-radius: 3px;
	padding: 0px 7px;
	cursor: pointer;
	text-decoration: underline;
	width: fit-content;
	color: #92e1d2;
}

.service-list-item {
	padding-left: 10px;
	line-height: 200%;
	font-size: 18px;
	margin-bottom: 20px;
}

.heading__services {
	font-size: 25px;
	margin-bottom: 20px;
}
.inline__link {
	display: inline;
	text-decoration: underline;
}
.service__box {
	border-radius: 10px;
	width: 100%;
	background-color: #0a0a0ac3;
	padding: 55px;
	transition: 0.4s ease;
	height: 100%;
	z-index: 5;
}
.retreat__box {
	border-radius: 10px;
	width: 100%;
	padding: 55px;
	transition: 0.4s ease;
	height: 100%;
	z-index: 5;
}
.service__box:hover {
	transform: scale(5px);
	background-color: #000000ae;
}
.service__box:hover .icon {
	color: #fff;
}
.service__box:hover p.service__text.p__color {
	color: #fff !important;
}

.icon {
	font-size: 54px;
	font-weight: 400;
	margin-bottom: 23px;
	display: inline-flex;
	color: #368777;
}
p.service__text.p__color {
	color: #ffffffb0 !important;
	margin-bottom: 0;
}
h1.service__text {
	font-size: 25px;
	font-family: Poppins, sans-serif;
	padding: 10px 0px;
	color: #fff !important;
}
h3.service__text {
	line-height: 170%;
}
div.service {
	min-height: 370px;
	cursor: pointer;
	background-color: black;
}
div.service img.cover {
	position: absolute;
	/* top: -20%;
  bottom: 0;
  left: 0;
  right: 0; */
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	opacity: 1;
	border-radius: 10px;
}
div.service img.contain {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -5%;
	right: 0;
	z-index: 0;
	object-fit: contain;
	height: 100%;
	opacity: 1;
	border-radius: 10px;
}
button.service {
	width: 100%;
	margin: 20px auto;
}
img.retreat {
	width: 100%;
	margin: 10px auto;
	object-fit: contain;
	max-width: 500px;
	border-radius: 10px;
}
/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
	.service__box {
		padding: 32px;
		min-height: 400px;
	}
	div.service img.contain {
		left: -20%;
	}
}

@media (max-width: 768px) {
	p.heading.p__color {
		width: 100%;
		padding: 10px 20px 10px;
		margin: auto;
		text-align: left;
	}
	.services-intro {
		text-align: left;
		margin: 0px 0 30px;
		font-weight: 500;
		font-size: 35px;
		line-height: 130%;
		max-width: 300px;
	}
	a.link-YT {
		padding: 0px 0px;
	}
	.mobile-width {
		max-width: 300px;
	}
}
